<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx_googleforjobs-single">
	<div>
		<f:format.raw>{job.title}</f:format.raw>
	</div>
	<div>
		<f:format.htmlentitiesDecode>{job.description}</f:format.htmlentitiesDecode>
	</div>
	<div>
		<f:format.date format="%d. %B %Y">{job.dateposted}</f:format.date>
	</div>
	<div>
		<f:format.raw>{job.hiringorganizationlogourl}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.hiringorganizationname}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.hiringorganizationwebsite}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.joblocationcity}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.joblocationstreetaddress}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.joblocationpostalcode}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.joblocationregion}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.joblocationtype}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.joblocationcountry}</f:format.raw>
	</div>
	<div>
		<f:format.date format="%d. %B %Y">{job.validthrough}</f:format.date>
	</div>
	<div>
		<f:format.raw>{job.basesalarycurrency}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.basesalaryunittext}</f:format.raw>
	</div>
	<div>
		<f:format.currency>{job.basesalaryvalue}</f:format.currency>
	</div>
	<div>
		<f:format.raw>{job.employmenttype}</f:format.raw>
	</div>
	<div>
		<f:format.raw>{job.applicantlocationrequirements}</f:format.raw>
	</div>
</div>

</html>