<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx_googleforjobs-single">

    <f:comment>General</f:comment>

    <f:if condition="{job.alternativeTitle}">
        <div>
            {job.alternativeTitle}
        </div>
    </f:if>

    <f:comment>/General</f:comment>


    <f:comment>Structured data</f:comment>

    <div>
        {job.title}
    </div>
    <div>
        <f:format.html>{job.description}</f:format.html>
    </div>
    <div>
        <f:format.date format="%d. %B %Y">{job.dateposted}</f:format.date>
    </div>
    <div>
        <f:link.typolink parameter="{job.hiringorganizationlogourl}">{job.hiringorganizationlogourl}</f:link.typolink>
    </div>
    <div>
        {job.hiringorganizationname}
    </div>
    <div>
        <f:link.typolink parameter="{job.hiringorganizationwebsite}">{job.hiringorganizationwebsite}</f:link.typolink>
    </div><br />
    <f:for each="{job.jobLocations}" as="joblocation" iteration="iterator">

        Location {iterator.cycle}:
        <div>
            {joblocation.city}
        </div>
        <div>
            {joblocation.streetaddress}
        </div>
        <div>
            {joblocation.postalcode}
        </div>
        <div>
            {joblocation.region}
        </div>
        <div>
            {joblocation.country}
        </div><br />
    </f:for>
    <div>
        {job.joblocationtype}
    </div>
    
    <div>
        <f:format.date format="%d. %B %Y">{job.validthrough}</f:format.date>
    </div>
    <div>
        {job.basesalarycurrency}
    </div>
    <div>
        {job.basesalaryunittext}
    </div>
    <div>
        <f:format.currency>{job.basesalaryvalue}</f:format.currency>
    </div>
    <div>
        {job.employmenttype}
    </div>
    <div>
        {job.applicantlocationrequirements}
    </div>

    <f:comment>/Structured data</f:comment>


    <f:comment>Media</f:comment>

    <f:if condition="{job.falMedia}">
        <f:for each="{job.falMedia}" as="mediaFile">
            <div>
                <f:image image="{mediaFile}" title="{mediaFile.title}" alt="{mediaFile.alternative}" />
            </div>
        </f:for>
    </f:if>
    <f:if condition="{job.falRelatedFiles}">
        <ul>
            <f:for each="{job.falRelatedFiles}" as="relatedFile">
                <li>
                    <a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
								{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
							</a>
                    <span>
								{relatedFile.originalResource.size -> f:format.bytes()}
						</span>
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:comment>/Media</f:comment>


    <f:comment>Metadata</f:comment>

    <f:if condition="{job.author}">
        <div>
            {job.author}
        </div>
    </f:if>
    <f:if condition="{job.category}">
        <div>
            {job.category}
        </div>
    </f:if>

    <f:comment>/Metadata</f:comment>

</div>

</html>