<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-google-for-jobs" >
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.date_posted" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.hiring_organization_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.hiring_organization_website" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.hiring_organization_logo_url" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.job_location_street_address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.job_location_city" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.job_location_postal_code" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.job_location_region" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.job_location_country" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.valid_through" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.base_salary_currency" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.base_salary_unit_text" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.base_salary_value" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.employment_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.job_location_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_googleforjobs_domain_model_job.applicant_location_requirements" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>